.group {
    margin: 36px 19px 0;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap:20px;
}

@media (min-width:1280px) {
    .group {
        margin: 51px 200px 0;
        gap: 17px;
    }
}