.header {
    margin-top: 28px;
    display: flex;
    border-bottom: 1px solid rgba(84,84,84, .7);
   
}

@media (min-width:1280px) {
    .header {
        max-width: 880px;
        margin: 45px auto 0;
    }
}