.profile__subtitle {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    grid-area: subtitle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@media (min-width:1280px) {
    .profile__subtitle {
        font-size: 18px;
        line-height: 18px;
        
        text-align: start;
    }
}