.group__button {
    cursor: url('../../../images/Layer.png'), auto;
    padding: 0;
    border: 0;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
}

.group__button:hover {
    opacity: 0.5;
  }